<label for="decibelsSettings" (click)="autoSetup()">Min i max decybeli</label>
<ng5-slider id="deciblesSettings" 
  [(value)]="minDecibels" 
  [(highValue)]="maxDecibels" 
  [options]="decibelsSliderOptions"
  (userChange)="onChange($event)">
</ng5-slider>
<label for="frequencySettings" >Min i max częstotliwości</label>
<ng5-slider id="frequencySettings" 
  [(value)]="minFrequency" 
  [(highValue)]="maxFrequency" 
  [options]="frequencySliderOptions"
  (userChange)="onChange($event)">
</ng5-slider>
<label for="minimumLevelSettings" >Poziom minimalny</label>
<ng5-slider id="minimumLevelSettings" 
  [(value)]="minimumLevel"
  [options]="minimumLevelOptions"
  (userChange)="onChange($event)">
</ng5-slider>
<label for="smoothingSettings" >Kroki wygładzania</label>
<ng5-slider id="smoothingSettings" 
  [(value)]="smoothingBufferSize"
  [options]="smoothingSliderOptions"
  (userChange)="onChange($event)">
</ng5-slider>
