<label>
  <input type="checkbox" [(ngModel)]="enabled" [(disabled)]="enabledv2">
  Emulacja
</label>
<label>
  <input type="checkbox" [(ngModel)]="enabledv2" [(disabled)]="enabled">
  Emulacja V2
</label>
<label>
  <input type="checkbox" [(ngModel)]="soundEnabled" (change)="soundPlayer()" [(disabled)]="!enabled && !enabledv2">
  Dźwięk
</label>
<div *ngIf="enabled">
  <label for="emulatorFrequency" >Częstotliwość</label>
  <ng5-slider id="emulatorFrequency" 
    [(value)]="emulatorFrequency"
    [options]="emulatorSliderOptions"
    (userChange)="updateFrequency($event)">
  </ng5-slider>
</div>
