<p>main: {{mainFrequency | number: '1.2-2'}}</p>
<p>note: {{note}}</p>
<p>siła: {{power | number: '1.0-0'}}</p>
<canvas #canvas 
  (click)="click()" 
  (mousedown)="mouseDown($event)"
  (mouseup)="mouseUp($event)"
  (mousemove)="mouseMove($event)">
</canvas>

<!-- <ngx-charts-line-chart
      [view]=[700, 400]
      [scheme]="{domain: ['#5AA454', '#A10A28', '#C7B42C', '#AAAAAA']}"
      [results]="arr"
      [gradient]="true"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="czas"
      [yAxisLabel]="ton"
      [autoScale]="true">
    </ngx-charts-line-chart> -->